body{
    background-color: yellow;
}
#DaButtonsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
#DaButton{
    background-color: black;
    color: white;
    padding: 75px;
    font-family: 'Monospace	Courier New';
    font-size: xx-large;
}
#DaButton:hover{
    color:black;
    background-color: white;
}
#VidsDiv {
    position: relative;
    z-index: -1;
    visibility: hidden;
}
#VidsDiv video {
    width: 100%;
    height: auto;
}